body {
  font-family: 'Helvetica Neue';
  font-weight: 300;
  line-height: 1.5;
}

.App {
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.search {
  font-size: calc(10px + 2vmin);
  padding: 5px;
  margin-bottom: 1em;
}

p {
  margin: 0;
}

a {
  color: white;
  transition: all 200ms ease-in;
}

a[disabled] {
  color: gray;
}

.sellers {
  margin-top: 1.5em;
}

.sellers a {
  display: block;
}

.helper-text {
  font-size: 12px;
}

.scope, .scope input {
  font-size: 14px;
  margin: 0;
}
